<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="Author" content="cjw">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <title>机构管理</title>
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <style>
	*{margin: 0; padding: 0;}
	.manage-button, .layui-card {border-radius: 5px;}
	.manage-button {background: #555;}

  </style>
 </head>
 <body layadmin-themealias="default">
	<div class="layui-fluid">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-md12"> 
				<div class="layui-card layui-circle">
					<div class="layui-card-header layuiadmin-card-header-auto">
						<input type="button" class="layui-btn manage-button" value="添加"/> 
					</div>
					<div class="layui-card-body">
						<div class="layui-collapse" id="show-manage">
						</div>	  	 
					</div>
				</div>
			</div>
		</div>
	</div>  
	<script src="../../layuiadmin/layui/layui.js?t=1"></script>
	<script>
	var oparate_active;// 子页面调用 active
	var initAjax;
	layui.config({
		base: '../../layuiadmin/' // 静态资源所在路径
	}).extend({
		index: 'lib/index' // 主入口模块
		,tree_etc: 'modules/tree_etc'
	}).use(["tree_etc", 'index', 'console', 'element'], function() {
		
		var layer  = layui.layer
		,$ = layui.jquery
		,form = layui.form
		,admin = layui.admin
		,f = 'iframe'
		,a = 'layuiadmin-branch-form-submit'
		,b = 'layuiadmin-branch-form-edit'
		,c = 'branch-form-tags'
		,d = 'LAY-app-set-branch'
		,active = {
			add: function(obj){
				layer.open({
				  	type: 2
				  	,title: '添加分支'
				  	,content: 'branchform.html?relateId='+obj.data.id
				  	,area: ['420px', '420px']
				  	,btn: ['确定', '取消']
				  	,yes: function(index, layero){
						layero.find(f).contents().find("#"+a).click(); 		// 子窗口 按钮触发点击
				  	},
				  	success: function(t, e) {
						//var iframe = t.find("iframe").contents().find("#"+c).click();
						// 初始化
						var iframe = t.find("iframe").contents().find("#"+c);
						iframe.find('input[name="id"]').val(randomId())
						,iframe.find('input[name="tag_check"]').removeAttr("disabled").removeClass("layui-disabled")
				  	}
				}); 
			}
			,edit: function(obj){
				layer.open({
					type: 2,
					title: "编辑当前分支",
					content: "branchform.html",
					area: ['420px', '420px'],
					btn: ["确定", "取消"],
					yes: function(index, layero) {
						layero.find(f).contents().find("#"+b).click(); 	// 子窗口 按钮触发点击
					},
					success: function(t, e) {
						//var iframe = t.find("iframe").contents().find("#"+c).click();
						// 初始化
						var iframe = t.find("iframe").contents().find("#"+c);
						iframe.find('input[name="name"]').val(obj.data.label)
						,iframe.find('input[name="id"]').val(obj.data.id)
						,iframe.find('input[name="priority"]').val(obj.data.priority)
						,iframe.find('input[name="url"]').val(obj.data.url)
						,iframe.find('textarea[name="msg"]').val(obj.data.msg)
						,iframe.find('input[name="create_time"]').val(obj.data.create_time)
						,iframe.find('input[name="update_time"]').val(obj.data.update_time)
						,iframe.find('input[name="create_time"]').attr("disabled", "")
						,iframe.find('input[name="update_time"]').attr("disabled", "")
						,iframe.find('input[name="tag_check"]').attr("disabled", "").addClass("layui-disabled")
					}
				})
			}
			,del: function(obj){  
				$.ajax({
					url: 'http://localhost:8080/MyBlog/api/test/branch/del.do'
					,type: 'post'	
					,data: {data: JSON.stringify(obj.data)}
					,dataType: "json"
					,success: function(data){
						obj.active.del();
						layer.msg("删除成功！")
					} 
					,error: function(data){
						layer.msg("服务器异常，删除失败！") 
					}
				});		
			}
		}  
		,tree = layui.tree_etc
		,data=[{// 模拟数据
				label:'资源管理'
				,id:1
				,isTab:!0
				,children:[{
					label:'机构管理'
					,id:23
				}
				,{
					label:'数据字典'
					,isTab:!0
					,id:24
				}]
			}
			,{
				label:'权限管理'
				,id:2
				,isTab:!0
				,children:[{
					label:'访客用户'
					,id:25
				}
				,{
					label:'后台管理员'
					,id:26
				}]
		}]; 
		initAjax = function(){
			$.ajax(
				{
					url: 'http://localhost:8080/MyBlog/api/test/branch/init.do'
					,type: 'post'	
					,dataType: "json"
					,success: function(data){
						tree.render({//分支结构创建
							elem: '#show-manage'
							,data: data
							,renderContent: !0
							,click: function(obj){
								// 点击layui-tree-txt 提示节点信息
								if(obj.type == 1){ 
									layer.msg('type：' + obj.type + '；状态：'+ obj.state + '<br>节点数据：' + JSON.stringify(obj.data))
								}
							}
							,operate: function(obj){
								//obj.type  obj.data  obj.active obj.elem
								console.log("回调operate");
								oparate_active = obj.active;
								console.log(obj);
								console.log(obj.active);
								'function' == typeof active[obj.type] ? active[obj.type](obj) : '';
							}
						}) 
					} 
					,error: function(data){
						layer.msg("服务器异常！") 
					}
				}
			);
		}
		initAjax();
		function randomId(){
			var date = new Date();
			function full(num){// 填充
				if(num>9)
					return num;
				return "0"+num;
			} 
			var _date = {
				year : date.getFullYear(),
				month : full(date.getMonth() + 1),
				date : full(date.getDate())
			};
			return _date.year+_date.month+_date.date+(date.getTime().toString().substring(5));
		}
	}); 
	</script>
 </body>
</html>