

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layuiAdmin 内容系统 - 文章列表</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">文章ID</label>
            <div class="layui-input-inline">
              <input type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">作者</label>
            <div class="layui-input-inline">
              <input type="text" name="author" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-inline">
              <input type="text" name="title" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">文章标签</label>
            <div class="layui-input-inline">
              <select name="label">
                <!--
				自动生成
				<option value="">请选择标签</option>
                <option value="0">美食</option>
                <option value="1">新闻</option>
                <option value="2">八卦</option>
                <option value="3">体育</option>
                <option value="4">音乐</option>
				-->
              </select>
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-list" data-type="add">添加</button>
		  <button class="layui-btn layuiadmin-btn-list" data-type="edit_base">编辑信息</button>
		  <button class="layui-btn layuiadmin-btn-list" data-type="edit">编辑随笔</button>
		  <button class="layui-btn layuiadmin-btn-list" data-type="del">删除</button>
        </div>
        <table id="LAY-app-content-list" lay-filter="LAY-app-content-list"></table> 
        <!--
		<script type="text/html" id="buttonTpl">
          {{#  if(d.status){ }}
            <button class="layui-btn layui-btn-xs">已发布</button>
          {{#  } else { }}
            <button class="layui-btn layui-btn-primary layui-btn-xs">待修改</button>
          {{#  } }}
        </script>
		<script type="text/html" id="table-content-list">
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </script>
		-->
      </div>
    </div>
  </div> 
  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'contlist', 'table'], function(){
    var table = layui.table
    ,form = layui.form
	,admin = layui.admin;
    
    
    //编辑按钮事件
    var $ = layui.$
	, f = 'iframe'
	, a = 'LAY-aticle-add'
	, c = 'LAY-aticle-update'
	, b = 'LAY-list-submit'
	, l = 'LAY-app-content-list'
	, s = 'LAY-app-contlist-search'
	, active = {
      add: function(){
	  
        layer.open({
          type: 2
          ,title: '添加文章'
          ,content: 'listform.html'
          ,maxmin: true
          ,area: ['800px', '500px']
          ,btn: ['确定', '取消']
          ,yes: function(index, layero){
            layero.find(f).contents().find("#"+a).click();
          } 
        }); 
      }
	  ,edit_base: function(){//编辑信息
		var checkStatus = table.checkStatus(l)
        ,data = checkStatus.data; //得到选中的数据
		data.length == 0 ? layer.msg("请选中一项") : data.length > 1 ? layer.msg("只能选中一项") :
        layer.open({
          type: 2
          ,title: '编辑信息'
          ,content: 'listform.html'
          ,maxmin: !0
          ,area: ['800px', '500px']
          ,btn: ['确定', '取消']
          ,yes: function(index, layero){
            // 点击确认触发 iframe 内容中的按钮提交
            layero.find(f).contents().find("#"+c).click();
          }
		  ,success: function(e, index){// 初始化
			var iframe = e.find("iframe").contents().find("#aticle-form-admin");
            iframe.find('input[name="sign"]').val(data[0].sign)
			,iframe.find('input[name="id"]').val(data[0].id)
			,iframe.find('input[name="title"]').val(data[0].title)
			,iframe.find('input[name="create_time"]').val(data[0].create_time)
			,iframe.find('input[name="update_time"]').val(data[0].update_time)
			,iframe.find('input[name="comment_num"]').val(data[0].comment_num)
			,iframe.find('input[name="good_num"]').val(data[0].good_num)
			,iframe.find('textarea[name="mark_code"]').val(data[0].mark_code)
			,iframe.find('input[name="visit_num"]').val(data[0].visit_num)
		  }
        }); 
      }
	  /*
	  ,edit: function(){//编辑随笔
		var checkStatus = table.checkStatus(l)
        ,data = checkStatus.data; // 得到选中的数据
		// data.length == 0 ? layer.msg("请选中一项") : data.length > 1 ? layer.msg("只能选中一项") :
		layer.open({// 修改
		  type: 2
		  ,title: '编辑随笔'
		  ,content: 'listcontform.html'
          ,maxmin: !0
          ,area: ['550px', '550px']
          ,btn: ['确定', '取消']
          ,yes: function(index, layero){
			layero.find(f).contents().find("#"+b).click();
			return false;
		  }
		  ,success: function(e, index){// 初始化 
			//var iframe = e.find("iframe").contents().find("#aticle-form-admin");
			//iframe.find('textarea[name="mark_code"]').val(data[0].mark_code)
		  } 
		});
	  }
	  */
	  ,del: function() {
		var checkStatus = table.checkStatus(d)
		,checkData = checkStatus.data; //得到选中的数据
		checkData.length === 0 ? layer.msg('请选择数据') :
		layer.confirm('确定删除吗？', function(index) {
			result[state] = '01'
			admin.req({
				url: 'http://localhost:8080/MyBlog/api/test/contenList/del.do'
				,type: 'post'	
				,data: {data: JSON.stringify(data.field)}
				,dataType: "json"
				,done: function(data){
					layer.msg("删除成功！", {time: 2000}),
					result[state] = '00',
					result[result] = !0 
				} 
			});	
		});
	  }
    }; 

    $('.layui-btn.layuiadmin-btn-list').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
	
	//监听搜索
    form.on('submit('+s+')', function(data){
      var field = data.field;
      //执行重载
      table.reload(l, {
        where: field
      });
    });

  });
  </script>
</body>
</html>
