<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="Author" content="cjw">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <title>机构管理</title>
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <style>
	*{margin: 0; padding: 0;}
	.manage-button, .layui-card {border-radius: 5px;}
	.manage-button {background: #555;}

  </style>
 </head>
 <body layadmin-themealias="default">
	<div class="layui-fluid">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-md12"> 
				<div class="layui-card layui-circle">
					<div class="layui-card-header layuiadmin-card-header-auto">
						<input type="button" class="layui-btn manage-button" value="添加"/>
						<input type="button" class="layui-btn manage-button" value="修改"/>
					</div>
					<div class="layui-card-body">
						<div class="layui-collapse" id="show-manage">
						</div>	  	 
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../../layuiadmin/layui/layui.js?t=1"></script>
	<script>
	layui.config({
		base: '../../layuiadmin/' //静态资源所在路径
	}).extend({
		index: 'lib/index' //主入口模块
	}).use(["tree", 'index', 'console', 'element'], function() {
		var tree = layui.tree
		,data=[{
			label:'资源管理'
			,id:1
			,children:[{
				label:'机构管理'
				,id:23
			}
			,{
				label:'数据字典'
				,id:24
			}]
		}
		,{
			label:'权限管理'
			,id:2
			,children:[{
				label:'访客用户'
				,id:25
			}
			,{
				label:'后台管理员'
				,id:26
			}]
		}];
		tree.render({
			elem: '#show-manage'
			,data: data
			//,key: 'id'
			,renderContent: !0
			,click: function(obj){
				layer.msg('状态：'+ obj.state + '<br>节点数据：' + JSON.stringify(obj.data))
			}
			,operate: function(obj){
				layer.msg(obj)
			}
		});
	});
	 
	</script>
 </body>
</html>