<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.dao.RelateDao">
	
	<!-- 多表关联测试 -->
	<resultMap id="selfList" type="com.blog.entity.Target__">
		 
	</resultMap>
	<select id="relateTest" parameterType="com.blog.entity.Relate" resultMap="selfList" useCache="false">
		select a.id_Target_, a.name_Target_, b.id_Target__, b.name_Target__
			from target_ a, target__ b, relate ab
			where a.id_Target_ = ab.target_ AND b.id_Target__ = ab.target__ AND ab.target_ = '1';
	</select>
	<!-- <select id="getTest" parameterType="com.blog.entity.Relate" resultMap="relate" useCache="false">
		SELECT ${columnSql} FROM ${table}
		<if test="whereSql!=null"> ${whereSql}</if>
		<if test="orderBySql!=null"> ${orderBySql}</if>
		<if test="limitSql!=null"> ${limitSql}</if>
	</select> -->
	 
	
</mapper>