<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.dao.UserDao">
	<!-- <select id="queryUsers" parameterType="com.model.User" resultType="com.model.User" useCache="false">
		SELECT * FROM member WHERE id=#{id}
	</select> -->
	<!-- 创建工单 -->
	<!-- <select id="queryUsers" parameterType="Integer" resultType="com.blog.entity.User" useCache="false">
		SELECT * FROM user WHERE id=#{id}
	</select> --> 
	
	<!-- 测试 ${} $和#的区别 需要另外编写防sql注入处理 -->
	<select id="getTest" parameterType="com.blog.entity.EqAdapter" resultMap="userList" useCache="false">
		SELECT ${columnSql} FROM ${table}
		<if test="whereSql!=null"> ${whereSql}</if>
		<if test="orderBySql!=null"> ${orderBySql}</if>
		<if test="limitSql!=null"> ${limitSql}</if>
	</select>
	
	<!-- 测试模板 -->
	<update id="updateTest" parameterType="com.blog.entity.EqAdapter">
		update ${table} set ${updateSql}
		<!-- operate = #{operate, jdbcType=TINYINT}, `end_time` = #{end_time, jdbcType=TIMESTAMP}, `advise` = #{advise,jdbcType=VARCHAR} --> 
		<if test="whereSql!=null"> ${whereSql}</if>
	</update>
	
	<insert id="insertTest" parameterType="com.blog.entity.EqAdapter">
		${insertSql}
	</insert>
	
	<select id="getTest2" parameterType="INTEGER" resultType="com.blog.entity.User" useCache="false">
		SELECT * FROM user WHERE id=#{id}
	</select>
	
	
	
	<!-- 通过id查找user -->
	<select id="getById" parameterType="INTEGER" resultType="com.blog.entity.User" useCache="false">
		SELECT * FROM user WHERE id=#{id}
	</select>
	
	<!-- 通过实体类所传的条件进行查找 -->
	<select id="get" parameterType="com.blog.entity.User" resultType="com.blog.entity.User" useCache="false">
		SELECT * FROM user WHERE id=#{id} 	
		<if test="id!=null"> AND username = #{username} </if>
		<if test="current_employee_id!=null"> AND password = #{password} </if>
	</select>
	
	<!-- user集合 -->
	<resultMap id="userList" type="com.blog.entity.User">
		<id column="id" property="id"></id>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
	</resultMap>
	<!-- 根据不同条件去查找；返回集合 --> 
	<select id="gets" parameterType="INTEGER" resultMap="userList" useCache="false">
		SELECT * FROM user WHERE id=#{id}
	</select>
	
</mapper>