<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="Author" content="cjw">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <title>机构管理</title>
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <style>
	*{margin: 0; padding: 0;}
	.manage-button, .layui-card {border-radius: 5px;}
	.manage-button {background: #555;}

  </style>
 </head>
 <body layadmin-themealias="default">
	<div class="layui-fluid">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-md12"> 
				<div class="layui-card layui-circle">
					<div class="layui-card-header layuiadmin-card-header-auto">
						<input type="button" class="layui-btn manage-button" value="添加"/> 
					</div>
					<div class="layui-card-body">
						<div class="layui-collapse" id="show-manage">
						</div>	  	 
					</div>
				</div>
			</div>
		</div>
	</div>  
	<script src="../../layuiadmin/layui/layui.js?t=1"></script>
	<script>
	
	layui.config({
		base: '../../layuiadmin/' //静态资源所在路径
	}).extend({
		index: 'lib/index' //主入口模块
	}).use(["tree_etc", 'index', 'console', 'element'], function() {
		var layer  = layui.layer
		,$ = layui.jquery
		,form = layui.form
		,admin = layui.admin
		,f = 'iframe'
		,a = 'layuiadmin-branch-form-submit'
		,b = 'layuiadmin-branch-form-edit'
		,c = 'branch-form-tags'
		,d = 'LAY-app-set-branch'
		,active = {
			add: function(obj){
				layer.open({
				  type: 2
				  ,title: '添加分支'
				  ,content: 'branchform.html'
				  ,area: ['450px', '300px']
				  ,btn: ['确定', '取消']
				  ,yes: function(index, layero){
					oparate_active = obj.active;
					layero.find(f).contents().find("#"+a).click();
				  }
				}); 
			}
			,edit: function(obj){
				layer.open({
					type: 2,
					title: "编辑当前分支",
					content: "branchform.html?id=" + data[0].id,
					area: ["450px", "200px"],
					btn: ["确定", "取消"],
					yes: function(index, layero) {
						oparate_active = obj.active;
						layero.find(f).contents().find("#"+b).click(); 
					},
					success: function(t, e) {
						//var iframe = t.find("iframe").contents().find("#"+c).click();
						var iframe = t.find("iframe").contents().find("#"+c);
						iframe.find('input[name="title"]').val(obj.data[0].title)
						,iframe.find('input[name="priority"]').val(obj.data[0].priority)
						,iframe.find('input[name="url"]').val(obj.data[0].url)
						,iframe.find('input[name="msg"]').val(obj.data[0].msg)
						iframe.find('textarea[name="create_time"]').disabled = !0
						,iframe.find('textarea[name="update_time"]').disabled = !0
					}
				})
			}
			,del: function(obj){ 
				checkData.length === 0 ? layer.msg('请选择数据') :
				layer.confirm('确定删除吗？', function(index) {
					//执行 Ajax 后重载
					admin.req({
						url: 'http://localhost:8080/MyBlog/api/test/branch/del.do'
						,type: 'post'	
						,data: {data: JSON.stringify(obj.data)}
						,dataType: "json"
						,done: function(data){
							parent.oparate_active.del();
							layer.msg("删除成功！", {time: 2000})
						} 
						,fail: function(data){
							layer.msg("删除失败！", {time: 2000}) 
						}
					});	
				});
			}
		}  
		,tree = layui.tree_etc
		,data=[{// 模拟数据
				label:'资源管理'
				,id:1
				,children:[{
					label:'机构管理'
					,id:23
				}
				,{
					label:'数据字典'
					,id:24
				}]
			}
			,{
				label:'权限管理'
				,id:2
				,children:[{
					label:'访客用户'
					,id:25
				}
				,{
					label:'后台管理员'
					,id:26
				}]
		}];
		tree.render({//分支结构创建
			elem: '#show-manage'
			,data: data
			,renderContent: !0
			,click: function(obj){
				//layer.msg('状态：'+ obj.state + '<br>节点数据：' + JSON.stringify(obj.data))
			}
			,operate: function(obj){
				//obj.type  obj.data  obj.active
				active[obj.type] ? active[obj.type](obj) : '';
			}
		}) 
	var oparate_active;
	}); 
	</script>
 </body>
</html>